@import url('https://unpkg.com/@catppuccin/palette/css/catppuccin.css');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,600;0,700;1,400;1,700&family=Fira+Code&display=swap');


:root {
  --shiny-gradient-diagonal: linear-gradient(69deg, #D9C7FF 10%, #78cbf6 50%, #78D7D3 90%);
  --purple: #D9C7FF;
  --blue: #B6D8F7;
  --green: #A3DFD7;
  --black: #1D1E23;
  --white: #ECF8FE;
  --light-gray: #99a7ad;
  --medium-gray: #343434;
  --dark-gray: #383A43;


  --progress-bar-percent: 0;

}

* {
  font-family: "Inter", sans-serif;
}
body {
  /* style */

  color: var(--white);
  /* layout */
  margin: 0;
}
.main {
  /* style */
  background-color: var(--black);

  /* layout */
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

.visualisation {
  min-width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 8px;
}


#circle-progress {
  transform: rotate(-90deg);
}

circle.circle-progress-svg {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 1s linear;
  stroke-width: 2em;
  stroke-linecap: round;
}

#circle-progress-svg-bar {
  stroke-dashoffset: var(--progress-bar-percent);
}

#circle-progress-svg-back {
  stroke: var(--dark-gray);
}


.feed {
  /* style */
  background-color: var(--dark-gray);
  border-radius: 24px;
  overflow: auto;
  /* layout */
  height: 100%;
  width: 320px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;

}

.chargd_title_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 16px 0;
}



#refresh_button {
  /* background: var(--shiny-gradient-diagonal); */
  background-color: var(--purple);
  border-radius: 14px;
  border: none;

  width: calc(100% - 20px);
  padding: 16px;
  margin: 0 10px;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 1.1em;
  transition: 0.5s background-color;
}

#refresh_button:hover {
  background-color: var(--blue);
}

#refresh_button:active {
  background-color: var(--green);
}

/* TODO: fix this :despair: */
.feed_shade {
  content:'';
  border-radius: 16px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 128px;
  background: linear-gradient(
    to bottom,
    rgba(0,0,0,0),
    var(--black) 100%
  );
  z-index: 2;
  pointer-events: none;
}

.feed_item {
  padding: 0 16px;
}

.feed_item::after {
  content: "";
  display: inline-block;
  position: relative;
  text-align: center;
  top: 0px;
  background: url("bolt.svg") no-repeat center;
  width: 100%;
  height: 36px;
  margin: -20px 0;
}

.feed_timestamp {
  font-size: 1em;
  color: var(--light-gray);
}
.feed_username {
  display: inline;
  font-size: 1.1em;
  font-weight: 700;
  /* color: var(--purple); */
}
.feed_actiontext {
  color: var(--light-gray);
  display: inline;
  font-size: 1.1em;
  font-weight: 500;
}
.feed_percentage {
  font-size: 1.5em;
  color: var(--purple);
}
.feed_captionbox {
  color: var(--white);
  background-color: rgba(0,0,0,0);
  border: none;
  font-size: 1em;

}
/* ::placeholder { color: var(--ctp-macchiato-subtext0); opacity: 1; } /* Chrome, Firefox, Opera, Safari 10.1+ (opacity for firefox)*/
/* ::-ms-input-placeholder { color: var(--ctp-macchiato-subtext0); } /* Edge */
/* :-ms-input-placeholder { color: var(--ctp-macchiato-subtext0); } /* IE 10-11 (gross) */


@media (max-width: 475px) {
  .feed {
    width: 100%;
  }
}
